.header {
    display: flex;
    align-items: center;
    justify-content: start;
    height: 3rem;
    width: auto;
    position: sticky;
    top: 0;
    background-color: #1ea7fd;
    padding: 0.25rem;
    z-index: 100;

    .header-content {
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 98%;

        a {
            color: white;
            text-decoration: none;
        }

        .active-link {
            margin-bottom: 1rem;
            border-bottom: 0.1rem solid;
            font-weight: bold;
        }
    }
}
