.header{
    display: grid;
    align-items: center;
    justify-content: start;
    height: 50px;
    width: 100vw;
    position: sticky;
    top: 0;
    background-color: #1ea7fd;
    padding: 0.25rem;
    z-index: 100;

    .header-content{
        margin-top: 50px
    }
}
