.productCard {
    display: flex;
    flex-direction: column;
    max-width: 320px;
    padding: 10px;
    box-sizing: border-box;
    border-radius: 8px;
    border: 1px solid #1ea7fd;
}

.image {
    margin: 0 0 16px;
}

.title {
    font: 400 14px sans-serif;
    color: #242424;
    margin: 0 0 8px;
}

.description {
    font: 400 14px sans-serif;
    color: #9d9da5;
    margin: 0 0 8px;
}

.title,
.description {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.price {
    font: 700 18px sans-serif;
    color: #242424;
    margin: 0 0 16px;
}