.product-list-item {
    display: grid;
    grid-auto-columns: 1fr;
    justify-items: center
}

.product-item {
    display: grid;
    padding: 0.5em 1em 0.5em;
    margin: 0.25em;
    border: #c0c2c4 1px solid;
    border-radius: 1em;
    max-width: 25rem;
    min-width: 17rem;
}
